<header class="header-fixed colorForHeaderUnscrolled">

  <div class="header-limiter">
    <div>
      <!-- <img class="logoImage" src="/assets/images/logo.png" alt=""> -->
      <!-- <div class="logo">
        <h1>
          <span id="z">Z</span>
          <span id="l3">3</span>
          <span id="d">D</span>
        </h1>
      </div> -->
    </div>
    <nav>
      <a routerLink="/home" routerLinkActive="active" class="headerNotScrolled hvr-shutter-out-vertical " href="#">Home</a>
      <a routerLink="/order" routerLinkActive="active" class="headerNotScrolled hvr-shutter-out-vertical " >New Order</a>
      <a routerLink="/pricing" routerLinkActive="active" class="headerNotScrolled hvr-shutter-out-vertical " href="#pricing">Pricing</a>
      <a class="headerNotScrolled hvr-shutter-out-vertical " href="#">About</a>
      <a class="headerNotScrolled hvr-shutter-out-vertical " href="#">Faq</a>
      <a class="headerNotScrolled hvr-shutter-out-vertical " href="#contact">Contact</a>
    </nav>

  </div>

</header>


<div [@routerAnimations]="prepRouteState(outlet)">
  <router-outlet #outlet="outlet"></router-outlet>
</div> 


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
  crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4"
  crossorigin="anonymous"></script>
<script type="text/javascript" src="scriptHeader.js"></script>
<script type="text/javascript" src="script.js"></script>
