.header-fixed {
  /* background-color:#ffffff; */
  /* box-shadow:0 1px 1px #ccc; */
  /* padding: 0px 0 0 40px; */
  height: 60px;
  color: #000000;
  box-sizing: border-box;
  top: -100px;
  -webkit-transition: top 0.3s;
  transition: top 0.3s;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;

  transition: background-color 2s;
  -webkit-transition: background-color 2s; 

  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);



}

.colorForHeaderScrolled{
  background-color: #F6F5F1;
  }

.colorForHeaderUnscrolled{
  /* background-color: #1D262A; */
  background-color: #F6F5F1;
}

.headerScrolled {
  color: #1D262A;  
}

.headerNotScrolled {
  /* color: #F6F5F1; */
  color: #1D262A; 
}

.logo{
  /* padding-left: 10px; */
  font-family: 'Times New Roman', Times, serif;
  padding-left: 10px;
}

#z{
  color: black
}
#l3{
  color: orange;
}

#d{
  color:red;
}


.logoImage{
  height: 60px;
  width: 60px;
  float: left;
  position: absolute;;
  left: 0;
}

.header-fixed .header-limiter {
  /* max-width: 1200px; */
  text-align: center;
  margin: 0 auto;
}


/*	The header placeholder. It is displayed when the header is fixed to the top of the
	browser window, in order to prevent the content of the page from jumping up. */

.header-fixed-placeholder {
  height: 60px;
  display: none;
}


/* Logo */

.header-fixed .header-limiter h1 {
  float: left;
  /* font: normal 28px Cookie, Arial, Helvetica, sans-serif; */
  line-height: 40px;
  margin: 0;
  padding-top: 10px;
}

.header-fixed .header-limiter h1 span {
  color: #000000;
}


/* The navigation links */

.header-fixed .header-limiter a {
  /* color: #ffffff; */
  text-decoration: none;
}

.header-fixed .header-limiter nav {
  font: 16px Arial, Helvetica, sans-serif;
  line-height: 60px;
  float: right;
  padding-right: 0;
}

.header-fixed .header-limiter nav a {
  display: inline-block;
  /* padding: 0 10px; */
  width:80px;
  text-decoration: none;
  /* color: #ffffff; */
  opacity: 0.9;
  height: 100%;
}

a{
	color: black;
}

.header-fixed .header-limiter nav a:hover {
  opacity: 1;
}

.header-fixed .header-limiter nav a.selected {
  color: #608bd2;
  pointer-events: none;
  opacity: 1;
}


/* Fixed version of the header */

body.fixed .header-fixed {
  /* padding: 10px 40px; */
  /* height: 50px; */
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

body.fixed .header-fixed-placeholder {
  display: block;
}

body.fixed .header-fixed .header-limiter h1 {
  font-size: 24px;
  line-height: 30px;
}

body.fixed .header-fixed .header-limiter nav {
  line-height: 28px;
  font-size: 13px;
}

.header-limiter nav a {
  height: 100%;
  margin: 0px;
  padding: 0px
}


/* Making the header responsive */

@media all and (max-width: 600px) {
  .header-fixed {
    /* padding: 10px 0; */
    height: 75px;
  }
  .header-fixed .header-limiter h1 {
    float: none;
    margin: -8px 0 10px;
    text-align: center;
    font-size: 24px;
    line-height: 1;
  }
  .header-fixed .header-limiter nav {
    line-height: 1;
    float: none;
  }
  .header-fixed .header-limiter nav a {
	font-size: 13px;
	width: auto;
	padding: 10px 10px;
  }
  body.fixed .header-fixed {
    /* display: none; */
  }
}


/*
	 We are clearing the body's margin and padding, so that the header fits properly.
	 We are also adding a height to demonstrate the scrolling behavior. You can remove
	 these styles.
 */


